* {
    box-sizing: border-box;
}

body {
    background-color: #FFE4C4;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

h1 {
    color: red;
    margin: 30px;
    text-decoration: underline;
    margin-bottom: 15px;
    text-align: center;
}

p {
    margin: 5px;
    margin-top: 0px;
    font-size: 3vw;
    color: black;
    text-align: center;
}

#listed {
    width: 80%;
}

ul {
    width: 400px;
    border: 3px solid brown;
    padding: 0px 0px 0px 0px;
    list-style-position: inside;
    box-shadow: 0 0 3px #3f0c1f;
    margin-bottom: 1px;
    text-align: center;
    display: inline-block;
}

ul:hover {
    box-shadow: 0 1px 5px 1px #cccccc
}

li a {
    text-decoration: none;
    font-size: 2vw;
}

a:hover {
    background-color: red;
}

#end {
    font-size: 1.8vw;
    text-align: center;
}

img {
    box-shadow: 0 0 15px #3f0c1f
}

/*java page*/
#head {
    margin: 30px;
}

.back {
    margin: 15px;
}

footer {
    margin: 5px;
    background-color: black;
    width: 100%;
    height: 100px;
    opacity: .8;
}

#end1 {
    width: 100%;
}

#end a {
    text-align: center;
}

/* large - pc*/
/********** Extra Large devices only **********/
@media (min-width: 1200px) {
    h1 {
        font-size: 5vw;
    }

    p {
        font-size: 3vw;
    }

}

/*ipad (sometimes)*/
/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199.98px) {

    h1 {
        font-size: 5vw;
    }

    p {
        font-size: 3vw;
    }

    ul {
        width: 400px;
        text-align: center;
        display: inline-block;
    }

    #end {
        font-size: 3vw;
    }
}

/*ipad*/
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991.98px) {

    h1 {
        font-size: 5vw;
    }

    p {
        font-size: 3vw;
    }

    li a {
        font-size: 2.5vw;
    }

    #end {
        font-size: 3vw;
    }
}


/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767.98px) {

    h1 {
        font-size: 5.5vw;
    }

    p {
        font-size: 4vw;
    }

    li a {
        font-size: 3vw;
    }

    #end {
        font-size: 3vw;
    }

    #listed {
        width: 80%;
    }

    #welcome {
        width: 100%;
    }

}

/*iphone*/
/********** Extra small devices only **********/
@media (max-width: 575.98px) {
    h1 {
        font-size: 5.5vw;
        margin-bottom: 10px;
    }

    p {
        font-size: 4vw;
    }

    li a {
        font-size: 3vw;
    }

    ul {
        width: 300px;
    }

    #end {
        font-size: 3vw;
    }
}