* {
    box-sizing: border-box;
}

body {
    background-color: #FFE4C4;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

h1 {
    color: red;
    margin: 30px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
}

p {
    margin: 5px;
    margin-top: 0px;
    font-size: 3vw;
    color: black;
    text-align: center;
}

ul {
    width: auto;
    border: 3px solid brown;
    padding: 0px 0px 0px 0px;
    list-style-position: inside;
    box-shadow: 0 0 3px #3f0c1f margin-bottom:1px;
}

li a {
    text-decoration: none;
    font-size: 2vw;
}

a:hover {
    background-color: red;
}

#end {
    font-size: 1.6vw;
}

img {
    box-shadow: 0 0 15px #3f0c1f
}

/*pc*/
/********** Large devices only **********/
@media(min-width: 1200px) {

    h1 {
        font-size: 5vw;
    }

    p {
        font-size: 3vw;
    }

    ul {
        width: 400px;
        text-align: center;
        display: inline-block;
    }

}

/*ipad (sometimes)*/
/********** Medium devices only **********/
@media(min-width: 992px) and (max-width: 1199px) {

    h1 {
        font-size: 5vw;
    }

    p {
        font-size: 3vw;
    }

    li a {
        font-size: 2.5vw;
    }

    ul {
        width: 400px;
        text-align: center;
        display: inline-block;
    }

}

/*ipad*/
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

    h1 {
        font-size: 5.5vw;
    }

    p {
        font-size: 4vw;
    }

    li a {
        font-size: 3vw;
    }

    #end {
        font-size: 3vw;
    }

    ul {
        width: 400px;
        text-align: center;
        display: inline-block;
    }

}

/*iphone*/
/********** Extra small devices only **********/
@media(max-width: 767px) {
    h1 {
        font-size: 5.5vw;
        width: 450px;
    }

    p {
        font-size: 4vw;
        width: 403px;
        padding-left: 65px;
    }

    li a {
        font-size: 3vw;
    }

    ul {
        width: 300px;
        text-align: center;
        display: inline-block;
    }

    #end {
        font-size: 3vw;
    }
}